<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<appSettings>
		<add key="api_id" value="20845158"/>
		<add key="api_hash" value="c8c0abf13a8f25ba67e1edc286a5fc39"/>
	</appSettings>
</configuration>
